In [4]:
# Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
get_integer = lambda l : l[1]

In [9]:
l.sort(key=get_integer)

In [10]:
l

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

In [11]:
# Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l = list(map(lambda x:x**2 , l))

In [12]:
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
# Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l1 = tuple(map(str,l1))

In [15]:
l1

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [16]:
# Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.
l2 = list(range(1,25))

In [17]:
l2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [18]:
from functools import reduce

In [19]:
reduce(lambda x,y:x*y , l2)

620448401733239439360000

In [20]:
# Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
l3 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
l3 = list(filter(lambda x:x%2==0 and x%3==0 , l3))

In [21]:
l3

[6, 60, 90, 120]

In [23]:
# Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
l4 = ['python', 'php', 'aba', 'radar', 'level']
l4 = list(filter(lambda s:s[::-1]==s , l4))

In [24]:
l4

['php', 'aba', 'radar', 'level']