In [1]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [2]:
print("A database is a structured collection of data that is organized, managed, and accessed in a way that allows efficient storage, retrieval, modification, and deletion of data.")

A database is a structured collection of data that is organized, managed, and accessed in a way that allows efficient storage, retrieval, modification, and deletion of data.

In [3]:
print("SQL databases are based on the relational data model, which organizes data into tables with rows and columns.")

SQL databases are based on the relational data model, which organizes data into tables with rows and columns.

In [4]:
print("NoSQL databases use various data models such as key-value pairs, document-oriented, column-family, or graph-based models.")

NoSQL databases use various data models such as key-value pairs, document-oriented, column-family, or graph-based models.

In [5]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [6]:
print("DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database. DDL statements are responsible for creating, modifying, and deleting database objects such as tables, indexes, views, and schemas.")

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database. DDL statements are responsible for creating, modifying, and deleting database objects such as tables, indexes, views, and schemas.

In [11]:
print("CREATE: The CREATE statement is used to create new database objects.")
print("""CREATE TABLE Employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    department VARCHAR(50)
);""")

CREATE: The CREATE statement is used to create new database objects.
CREATE TABLE Employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    department VARCHAR(50)
);

In [14]:
print("DROP: The DROP statement is used to delete database objects.")
print("DROP TABLE Employees;")

DROP: The DROP statement is used to delete database objects.
DROP TABLE Employees;

In [16]:
print("ALTER: The ALTER statement is used to modify the structure of existing database objects. It allows you to add, modify, or drop columns, constraints, and other properties of database objects.")
print("""ALTER TABLE Employees
ADD COLUMN salary DECIMAL(10, 2);""")

ALTER: The ALTER statement is used to modify the structure of existing database objects. It allows you to add, modify, or drop columns, constraints, and other properties of database objects.
ALTER TABLE Employees
ADD COLUMN salary DECIMAL(10, 2);

In [18]:
print("TRUNCATE: The TRUNCATE statement is used to delete all data from a table while keeping its structure intact. Unlike the DROP statement, which removes the entire table, TRUNCATE only removes the data within the table, resulting in an empty table")
print("TRUNCATE TABLE Employees;")

TRUNCATE: The TRUNCATE statement is used to delete all data from a table while keeping its structure intact. Unlike the DROP statement, which removes the entire table, TRUNCATE only removes the data within the table, resulting in an empty table
TRUNCATE TABLE Employees;

In [19]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [20]:
print("DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that is used to manipulate and interact with the data stored in a database. DML statements are responsible for inserting, updating, and deleting data within database tables.")

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that is used to manipulate and interact with the data stored in a database. DML statements are responsible for inserting, updating, and deleting data within database tables.

In [21]:
print("INSERT: The INSERT statement is used to add new records into a table. It allows you to specify the values for each column or select values from another table.")
print("""INSERT INTO Employees (name, department)
VALUES ('John Doe', 'IT');""")

INSERT: The INSERT statement is used to add new records into a table. It allows you to specify the values for each column or select values from another table.
INSERT INTO Employees (name, department)
VALUES ('John Doe', 'IT');

In [23]:
print("UPDATE: The UPDATE statement is used to modify existing records in a table. It allows you to update specific columns with new values based on specified conditions.")
print("""UPDATE Employees
SET department = 'Sales'
WHERE name = 'John Doe';""")

UPDATE: The UPDATE statement is used to modify existing records in a table. It allows you to update specific columns with new values based on specified conditions.
UPDATE Employees
SET department = 'Sales'
WHERE name = 'John Doe';

In [24]:
print("DELETE: The DELETE statement is used to remove one or more records from a table based on specified conditions. It allows you to selectively delete records that match specific criteria.")
print("""DELETE FROM Employees
WHERE department = 'HR';""")

DELETE: The DELETE statement is used to remove one or more records from a table based on specified conditions. It allows you to selectively delete records that match specific criteria.
DELETE FROM Employees
WHERE department = 'HR';

In [25]:
# Q4. What is DQL? Explain SELECT with an example.

In [26]:
print("DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to query and retrieve data from a database. DQL statements are primarily focused on retrieving data and do not involve data manipulation or structural modifications of the database.")

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to query and retrieve data from a database. DQL statements are primarily focused on retrieving data and do not involve data manipulation or structural modifications of the database.

In [28]:
print("""The SELECT clause specifies the columns you want to retrieve from the table.
The FROM clause specifies the table or tables from which you want to retrieve the data.
The WHERE clause (optional) specifies the conditions that must be met for a row to be included in the result set.""")

The SELECT clause specifies the columns you want to retrieve from the table.
The FROM clause specifies the table or tables from which you want to retrieve the data.
The WHERE clause (optional) specifies the conditions that must be met for a row to be included in the result set.

In [30]:
print("""SELECT name
FROM Employees
WHERE department = 'IT';""")

SELECT name
FROM Employees
WHERE department = 'IT';

In [31]:
# Q5. Explain Primary Key and Foreign Key.

In [32]:
print("A primary key is a column or a set of columns in a table that uniquely identifies each row or record in that table. It serves as a unique identifier for each record and ensures the uniqueness and integrity of the data.")

A primary key is a column or a set of columns in a table that uniquely identifies each row or record in that table. It serves as a unique identifier for each record and ensures the uniqueness and integrity of the data.

In [33]:
print("A foreign key is a column or a set of columns in a table that establishes a link or reference to the primary key of another table. It creates a relationship between two tables, known as the parent table (with the primary key) and the child table (with the foreign key). ")

A foreign key is a column or a set of columns in a table that establishes a link or reference to the primary key of another table. It creates a relationship between two tables, known as the parent table (with the primary key) and the child table (with the foreign key).

In [34]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [37]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

In [38]:
print("The cursor() method is used to create a cursor object within a database connection.")

The cursor() method is used to create a cursor object within a database connection.

In [39]:
print("The execute() method is used to execute SQL statements or queries using the cursor object.")

The execute() method is used to execute SQL statements or queries using the cursor object.

In [40]:
# Q7. Give the order of execution of SQL clauses in an SQL query.

In [42]:
print("""SELECT DISTINCT <TOP_specification> <select_list>
FROM <left_table>
<join_type> JOIN <right_table>
ON <join_condition>
WHERE <where_condition>
GROUP BY <group_by_list>
HAVING <having_condition>
ORDER BY <order_by_list>
""")

SELECT DISTINCT <TOP_specification> <select_list>
FROM <left_table>
<join_type> JOIN <right_table>
ON <join_condition>
WHERE <where_condition>
GROUP BY <group_by_list>
HAVING <having_condition>
ORDER BY <order_by_list>

In [43]:
print("Order:")
print("""FROM clause
ON clause
OUTER clause
WHERE clause
GROUP BY clause
HAVING clause
SELECT clause
DISTINCT clause
ORDER BY clause
TOP clause""")

Order:
FROM clause
ON clause
OUTER clause
WHERE clause
GROUP BY clause
HAVING clause
SELECT clause
DISTINCT clause
ORDER BY clause
TOP clause