In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('example.db')

In [3]:
connection

In [4]:
cursor = connection.cursor()

In [5]:
cursor.execute('''
Create Table if not exists Employee(
        id Integer Primary Key,
        name Text Not Null,
        age Integer,
        department text
        )
    ''')

In [6]:
connection.commit()

In [7]:
cursor.execute("select * from Employee")

In [28]:
cursor.execute('''
               Insert into Employee(name,age,department)
               values("vishmay",20,"computer")
               ''')
cursor.execute('''
               Insert into Employee(name,age,department)
               values("krish",20,"computer")
               ''')
cursor.execute('''
               Insert into Employee(name,age,department)
               values("devansh",20,"computer")
               ''')
cursor.execute('''
               Insert into Employee(name,age,department)
               values("harsh",20,"computer")
               ''')

In [29]:
connection.commit()

In [30]:
cursor.execute("Select * from Employee")
rows = cursor.fetchall()

In [31]:
for row in rows:
    print(row)

(1, 'qusai', 20, 'computer')
(2, 'qusai', 20, 'computer')
(3, 'krish', 20, 'computer')
(4, 'devansh', 20, 'computer')
(5, 'harsh', 20, 'computer')
(6, 'vishmay', 20, 'computer')
(7, 'krish', 20, 'computer')
(8, 'devansh', 20, 'computer')
(9, 'harsh', 20, 'computer')

In [41]:
cursor.execute("Update Employee set name = 'qusai' where name = 'vishmay'")
connection.commit()

In [42]:
cursor.execute("select * from Employee")
data = cursor.fetchall()

In [43]:
for row in data:
    print(row)

(1, 'qusai', 20, 'computer')
(2, 'qusai', 20, 'computer')
(3, 'krish', 20, 'computer')
(4, 'devansh', 20, 'computer')
(5, 'harsh', 20, 'computer')
(6, 'qusai', 20, 'computer')
(7, 'krish', 20, 'computer')
(8, 'devansh', 20, 'computer')
(9, 'harsh', 20, 'computer')

In [44]:
cursor.execute("Delete from Employee where name = 'qusai'")
connection.commit()

In [45]:
cursor.execute("select * from Employee")
data = cursor.fetchall()

In [46]:
for i in data:
    print(i)

(3, 'krish', 20, 'computer')
(4, 'devansh', 20, 'computer')
(5, 'harsh', 20, 'computer')
(7, 'krish', 20, 'computer')
(8, 'devansh', 20, 'computer')
(9, 'harsh', 20, 'computer')

In [48]:
bulk_data = [
    ('vishmay', 21, 'computer'),
    ('cheatn', 54, 'banking'),
    ('meeta', 48, 'accountant'),
    ('drashty', 25, 'physiotherapist')
]

In [50]:
cursor.executemany('''
insert into Employee(name,age,department) values(?,?,?)
''',bulk_data)

In [51]:
connection.commit()

In [52]:
cursor.execute("select * from Employee")

In [53]:
data = cursor.fetchall()

In [54]:
for i in data:
    print(i)

(3, 'krish', 20, 'computer')
(4, 'devansh', 20, 'computer')
(5, 'harsh', 20, 'computer')
(7, 'krish', 20, 'computer')
(8, 'devansh', 20, 'computer')
(9, 'harsh', 20, 'computer')
(10, 'vishmay', 21, 'computer')
(11, 'cheatn', 54, 'banking')
(12, 'meeta', 48, 'accountant')
(13, 'drashty', 25, 'physiotherapist')